*{
    padding: 0px;
    margin: 0px;
}
body{
    font-family: 'Calistoga', cursive;
    font-size: 14px;
    line-height: 20px;
    height:1000px ;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Poppins', sans-serif;
}
a, a:hover{
    flex-direction: none;
}
.green{
    width: 800px;
    height: 400px;
    background: green;
    position: relative;
}
.red{
    width: 200px;
    height: 200px;
    background: red;
    border-radius: 100%;
    position: absolute;
    top: 24%;
    left: 35%;
    z-index: 1;
}
.yellow{
    width: 200px;
    height: 200px;
    background: yellow;
    position: absolute;
    top: 24%;
    left: 35%;
    z-index: 0;
}
.fb{
    width: 150px ;
    position: fixed;
    top: 40%;
    right: -100px;
    transform: 1s;
}
.fb:hover{
    right: -2px;
    cursor: pointer;
}
.social-midia{
    width: 100%;
    margin: 80px 0px;
    padding: 80px 0px ;
    background: gray;
}
.social-icons{
    text-align: center ;
    width: 100%;
}
.social-icons li{
    list-style: none;
    display: inline-block;
}
.social-icons li a .fa{
    display: block;
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 30px;
    border-radius: 100%;
    margin:0px 15px ;
    transition: 1s;
    background: blue;
    color: white;
}
.social-icons li a .fa-facebook:hover{
    background: #097EEB;
    color: #fff;
}
.social-icons li a .fa-youtube:hover{
    background: #FF0000;
    color: #fff;
}
.social-icons li a .fa-youtube:hover{
    background: #FF0000;
    color: #fff;
}
.social-icons li a .fa-twitter:focus{
    background: green;
    color: #fff;
}

